/*-------------------------
    #SECTION-GLOBAL
----------------------*/

@font-face {
  font-family: 'Open Sans Extrabold';
  src: url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.eot');
  src: url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.woff2') format('woff2'),
  url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.woff') format('woff'),
  url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.eot');
  src: url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.woff2') format('woff2'),
  url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.woff') format('woff'),
  url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/Open-Sans-Reg/Open-Sans-Reg.eot');
  src: url('../fonts/Open-Sans-Reg/Open-Sans-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open-Sans-Reg/Open-Sans-Reg.woff2') format('woff2'),
  url('../fonts/Open-Sans-Reg/Open-Sans-Reg.woff') format('woff'),
  url('../fonts/Open-Sans-Reg/Open-Sans-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/League-Gothic-reg/league-gothic-reg.eot');
  src: url('../fonts/League-Gothic-reg/league-gothic-reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/League-Gothic-reg/league-gothic-reg.woff2') format('woff2'),
  url('../fonts/League-Gothic-reg/league-gothic-reg.woff') format('woff'),
  url('../fonts/League-Gothic-reg/league-gothic-reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family:"League Gothic", Helvetica, Arial, Sans-Serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*-------------------------
    #SECTION-HEADER
----------------------*/
header{
  padding-top: 67px;
  height: 845px;
  background: url("../img/bg-header.jpg") center top no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.wrapper960{
  max-width: 960px;
  margin: 0 auto;
}
.header-top{
  height: 210px;
}
.logo{
  display: inline-block;
text-transform: uppercase;
  font-size: 47px;
  /*font-weight: 400;*/
  /*line-height: 34px;*/
}


.logo span{
  display: inline-block;
  /*width: 121px;*/
  /*height: 37px;*/
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.logo i{
  display: inline-block;
  /*width: 29px;*/
  /*height: 37px;*/
  background-image: -webkit-linear-gradient(bottom, #322539, #745083);
  background-image: -moz-linear-gradient(bottom, #322539, #745083);
  background-image: -o-linear-gradient(bottom, #322539, #745083);
  background-image: -ms-linear-gradient(bottom, #322539, #745083);
  background-image: linear-gradient(to top, #322539, #745083);
  -webkit-background-clip: text;
  color: transparent;
}
.navigate{
  float: right;
  overflow: hidden;
}
.navigate ul{
  font-size: 0;
}
.navigate--item{
  display: inline-block;
  margin-left: 41px;
  /*width: 631px;*/
  /*height: 19px;*/
  /*font-family: "League Gothic";*/
  font-size: 24px;
  /*font-weight: 400;*/
  /*line-height: 34px;*/
  text-transform: uppercase;
}
.navigate--item:first-child{
  margin-left: 0;
}
.navigate--item a{
  padding: 8px 5px 2px;
  display: block;
  text-decoration: none;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
}
.navigate--item a:hover{
  border-bottom: 2px solid #edbfff;
}
.slider{
  height: 400px;
  background: rgba(0,0,0, 0.2);
}
.wrapper-slider-960{
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;

}
.slider-txt-wrap{
  display: inline-block;
  width: 54%;
  margin-top:8.3333%;
  overflow: hidden;

}
.slider--title-bg{
color: #fefefe;
font-size: 60px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slider--title-sm{
  color: #edbfff;
  font-size: 32px;
  line-height: 36px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slider--txt{
  line-height: 24px;
  font-family:"Open Sans Light",Sans-Serif;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.slider--img{
  display: inline-block;
  height:100%;
  margin-left: 9.37%;
}

.slider--img img{
  /*vertical-align: middle;*/
}

.iphone{
  position: absolute;
  right: 7.2%;
  top: -4%;
}
.slider--control{
  max-width: 960px;
  margin: 0 auto;
  text-align: right;
  padding: 94px 339px 0 0;
}

.slider--control input{
  display: none;
}

.slider--control label{
  cursor: pointer;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: black;
  opacity: 0.3;

}
.slider--control label:hover{
  border: 3px solid rgba(255,255,255,1);
  background-clip: content-box;
}

.slider--control .active{
  opacity: 1;
  background: white;
  border: 3px solid rgba(0,0,0,0.3);
  background-clip: content-box;
}

.about{
  position: relative;
  height: 342px;
  background-image: linear-gradient(to top, #322539 0%, #745083 100%);
  border-top: 1px solid #33253a;
  font-family: "League Gothic";
  color: #fff;
  font-weight: 400;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
  z-index: 1;
}

.about-company{
  max-width:960px;
  margin: 0 auto;
  padding-top: 78px;

}

.about-company--item{
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:32%;
  padding-left: 65px;
}

.about-company--item-ico{
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 6px;
  background: url("../img/about-sprite.png") 0 0 no-repeat;
  width: 27px;
  height: 27px;

}

.about-company--item-ico__round{
  background-position: -28px 0;
}

.about-company--item-ico__nota{
  background-position: -56px 0;
}
.about-company--item p{
  /*width: 223px;*/
  /*height: 113px;*/
  text-shadow: 0.5px 0.9px 0 #0f1518;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 7px;
}
.about-company--item h2{
  /*width: 173px;*/
  /*height: 24px;*/
  text-shadow: 0.5px 0.9px 0 #0f1518;
  font-size: 30px;
  /*line-height: 24px;*/
}
.about-company--item-more{
  text-align: right;
}

.about-company--item a {
  display: inline-block;
  /*width: 56px;*/
  /*height: 14px;*/
  /*text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);*/
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  margin: 19px 27px 0 0;
}

.about-company--item a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);

}
.posts{
  height: 487px;
  background-color: #f9f9f9;
  padding: 100px 0 0 0;
}
.slider-mini{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 44.47%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  line-height: 24px;
  padding: 30px 40px 40px;

}
.slider-mini i{
  position: absolute;
  left: -26px;
  top: 13px;
  background: url("../img/posts-sprite.png") -4px -2px no-repeat;
  width: 50px;
  height: 50px;

}
.slider-mini h2{
  text-shadow: 0.5px 0.9px 0 #fff;
  font-family: "League Gothic";
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #454545;
}
.slider-mini b{
  color: #edbfff
}
.slider-mini p{
  text-shadow: 0.5px 0.9px 0 #fff;
  color: #454545;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;

}
.slider-mini:after{
  content: '';
  position: absolute;
  right: 40px;
  bottom: -20px;
  border-top: 20px solid #fff;
  border-left: 20px solid transparent;

}