/*-------------------------
    #SECTION-GLOBAL
----------------------*/

@font-face {
  font-family: 'Open Sans Extrabold';
  src: url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.eot');
  src: url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.woff2') format('woff2'),
  url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.woff') format('woff'),
  url('../fonts/Open-Sans-Extrabold-Reg/Open-Sans-Extrabold-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.eot');
  src: url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.woff2') format('woff2'),
  url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.woff') format('woff'),
  url('../fonts/Open-Sans-Light-Reg/Open-Sans-Light-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/Open-Sans-Reg/Open-Sans-Reg.eot');
  src: url('../fonts/Open-Sans-Reg/Open-Sans-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open-Sans-Reg/Open-Sans-Reg.woff2') format('woff2'),
  url('../fonts/Open-Sans-Reg/Open-Sans-Reg.woff') format('woff'),
  url('../fonts/Open-Sans-Reg/Open-Sans-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/League-Gothic-reg/league-gothic-reg.eot');
  src: url('../fonts/League-Gothic-reg/league-gothic-reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/League-Gothic-reg/league-gothic-reg.woff2') format('woff2'),
  url('../fonts/League-Gothic-reg/league-gothic-reg.woff') format('woff'),
  url('../fonts/League-Gothic-reg/league-gothic-reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "League Gothic", Helvetica, Arial, Sans-Serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width:320px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*-------------------------
    #SECTION-HEADER
----------------------*/

header {
  padding-top: 67px;
  height: 845px;
  background: url("../img/bg-header.jpg") center top no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper960 {
  max-width: 960px;
  margin: 0 auto;
  /*position: relative;*/
  /*height: 100%;*/
}

.header-top {
  height: 210px;
}

.logo {
  float: left;
  /*display: inline-block;*/
  text-transform: uppercase;
  font-size: 47px;
  /*font-weight: 400;*/
  /*line-height: 34px;*/
}

.logo span {
  display: inline-block;
  /*width: 121px;*/
  /*height: 37px;*/
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.logo i {
  display: inline-block;
  /*width: 29px;*/
  /*height: 37px;*/
  background-image: -webkit-linear-gradient(bottom, #322539, #745083);
  background-image: -moz-linear-gradient(bottom, #322539, #745083);
  background-image: -o-linear-gradient(bottom, #322539, #745083);
  background-image: -ms-linear-gradient(bottom, #322539, #745083);
  background-image: linear-gradient(to top, #322539, #745083);
  -webkit-background-clip: text;
  color: transparent;
}

.navigate {
  float: right;
  overflow: hidden;
}

.navigate ul {
  font-size: 0;
}

.navigate--item {
  display: inline-block;
  margin-left: 41px;
  /*width: 631px;*/
  /*height: 19px;*/
  /*font-family: "League Gothic";*/
  font-size: 24px;
  /*font-weight: 400;*/
  /*line-height: 34px;*/
  text-transform: uppercase;
}

.navigate--item:first-child {
  margin-left: 0;
}

.navigate--item a {
  padding: 8px 5px 2px;
  display: block;
  text-decoration: none;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.navigate--item a:hover {
  border-bottom: 2px solid #edbfff;
}

.slider {
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
}

.wrapper-slider-960 {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.slider-txt-wrap {
  display: inline-block;
  width: 54%;
  margin-top: 8.3333%;
  overflow: hidden;
}

.slider--title-bg {
  color: #fefefe;
  font-size: 58px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider--title-sm {
  color: #edbfff;
  font-size: 32px;
  line-height: 36px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider--txt {
  line-height: 24px;
  font-family: "Open Sans Light", Sans-Serif;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.slider--img {
  display: inline-block;
  /*height: 100%;*/
  margin-left: 9.37%;
  vertical-align: top
}


.iphone-blur {
  display: inline-block;
  margin: 64px 0 0px 5px;
}

.iphone {
  position: absolute;
  right: 7.2%;
  top: -4%;
}

.slider--control {
  max-width: 960px;
  margin: 0 auto;
  text-align: right;
  padding: 94px 339px 0 0;
}

.slider--control input {
  display: none;
}

.slider--control label {
  cursor: pointer;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: black;
  opacity: 0.3;
}

.slider--control label:hover {
  border: 3px solid rgba(255, 255, 255, 1);
  background-clip: content-box;
}

.slider--control .active {
  opacity: 1;
  background: white;
  border: 3px solid rgba(0, 0, 0, 0.3);
  background-clip: content-box;
}

.about {
  position: relative;
  height: 342px;
  background-image: linear-gradient(to top, #322539 0%, #745083 100%);
  border-top: 1px solid #33253a;
  font-family: "League Gothic";
  color: #fff;
  font-weight: 400;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.about-company {
  /*max-width: 960px;*/
  /*margin: 0 auto;*/
  padding-top: 8.125%;

  font-size: 0;
  text-align: justify;
  width: 100%;
}

.about-company:after {
  display: inline-block;
  content: "";
  width: 100%;
}

.about-company--item {
  text-align: left;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 29.5%;
  padding-left: 6.77%;
  /*max-height: 220px;*/
  /*margin-right: -23px;*/

}

.about-company--item-ico {
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 6px;
  background: url("../img/about-sprite.png") 0 0 no-repeat;
  width: 27px;
  height: 27px;

}

.about-company--item-ico__round {
  background-position: -28px 0;
}

.about-company--item-ico__nota {
  background-position: -56px 0;
}

.about-company--item p {
  /*width: 223px;*/
  /*height: 113px;*/
  text-shadow: 1px 1px 0 #0f1518;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 7px;
}

.about-company--item h2 {
  /*width: 173px;*/
  /*height: 24px;*/
  text-shadow: 1px 1px 0 #0f1518;
  font-size: 30px;
  /*line-height: 24px;*/
}

.about-company--item-more {
  text-align: right;
}

.about-company--item a {
  display: inline-block;
  /*width: 56px;*/
  /*height: 14px;*/
  /*text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);*/
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  /*margin: 19px 27px 0 0;*/
}

.about-company--item a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);

}

/*-------------------------
    #SECTION-POSTS
----------------------*/

.posts {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 487px;
  background-color: #f9f9f9;

  border-bottom: 1px solid #e6e6e6;
}

.wrapper-posts {
  padding: 100px 0 0 0;
}

.slider-wrap {
  /*display: inline-block;*/
  width: 44.47%;
  float: left;
  margin-left: 25px;

}

.slider-mini {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  line-height: 24px;
  padding: 32px 27px 36px 38px;

}

.slider-mini i {
  position: absolute;
  left: -26px;
  top: 17px;
  background: url("../img/posts-sprite.png") -5px -2px no-repeat;
  width: 50px;
  height: 50px;

}

.slider-mini h2 {
  text-shadow: 1px 1px 0 #fff;
  font-family: "League Gothic";
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #454545;
}

.slider-mini b {
  color: #edbfff
}

.slider-mini p {
  text-shadow: 1px 1px 0 #fff;
  color: #454545;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  margin-top: 13px;

}

.slider-mini:after {
  content: '';
  position: absolute;
  right: 40px;
  bottom: -20px;
  border-top: 20px solid #fff;
  border-left: 20px solid transparent;

}

.slider--control__mini {
  padding: 5.5% 0 0;
  text-align: center;

}

.slider--control__mini label {
  border: 1px solid #e6e6e6;
  box-shadow: 1px 2px 0 #fff;
  background: #fff;

}

.slider--control__mini label:hover {
  border: 3px solid #5a5a5a;
}

.slider--control__mini .active__mini {
  background: #5a5a5a;
  border: 2px solid #fff;
}

.post-list {
  /*display: inline-block;*/
  float: right;
  width: 50%;
  color: #454545;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3.125% 0 0 4.25%;
}

.post-list h2 {
  text-shadow: 1px 1px 0 #fff;
  font-family: "League Gothic";
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
  margin: 1px 0 0 -10px;

}

.post-list--item {
  padding: 4.3% 0 0 13%;
  position: relative;
  text-shadow: 1px 1px 0 #fff;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;

}

.post-list--item h3 {
  font-weight: 700;
}

.post-list--item i {
  position: absolute;
  top: 19px;
  left: -9px;
  width: 50px;
  height: 50px;
  background: url(../img/posts-sprite.png) no-repeat;
}

.post-list--item:nth-child(1) i {
  background-position: -5px -53px;
}

.post-list--item:nth-child(2) i {
  background-position: -5px -103px;
}

.post-list--item:nth-child(3) i {
  background-position: -5px -153px;
}

.post-list--item p {
  font-weight: 300;
}

.post-list--link {
  text-align: right;
  padding: 18px 20px 0 0;
}

.post-list--link a {

  text-shadow: 1px 1px 0 #fff;
  color: #454545;
  font-family: "League Gothic";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

/*-------------------------
    #SECTION-PROVIDERS
----------------------*/

.provider-logo {
  background: #f9f9f9;
  height: 118px;
  border-bottom: 1px solid #fefefe;
  border-top: 1px solid #fefefe;
}

.provider-logo ul {
  padding: 0 6.25%;
  /*display: table;*/
  height: 120px;
  box-sizing: border-box;
  width: 100%;
  font-size: 0;
}

.provider-logo ul:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.provider-logo--item {
  font-size: 16px;
  width: 16%;
  display: inline-block;
  /*line-height: 120px;*/
  /*height: 120px;*/
  text-align: center;
  vertical-align: middle;
  /*display: table-cell;*/
}

.provider-logo--item a {
  display: inline-block;
}

/*-------------------------
    #SECTION-COMMENTS
----------------------*/

.comments {
  height: 397px;
  background: #ececec;
  border-top: 1px solid #d8d8d8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper-coments-center {
  padding-top: 93px;
  /*padding-top: 9.41%;*/
}

.comments ul {
  font-size: 0;
  text-align: justify;
  width: 100%;
}

.comments ul:after {
  display: inline-block;
  content: "";
  width: 100%;
}

.comments-block {
  padding-top: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 29.1666%;
  text-align: left;
  font-size: 16px;
  max-height: 210px;
  overflow: hidden;
}

.comments-block h2 {
  text-shadow: 0 1px 0 #fff;
  color: #454545;
  font-family: "League Gothic";
  font-size: 48px;
  /*font-weight: 400;*/
  /*line-height: 34px;*/
}

.comments-block b {
  text-shadow: 0 1px 0 #fff;
  color: #b9b9b9;
  font-family: "League Gothic";
  font-size: 48px;
  font-weight: 400;
  line-height: 34px;
}

.comments-block h4 {
  padding-top: 5px;

  text-shadow: 1px 1px 0 #fff;
  color: #c5c5c5;
  font-family: Georgia;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
}

.comments-block h3 {
  text-shadow: 1px 1px 0 #fff;
  color: #454545;
  font-family: "League Gothic";
  font-size: 30px;
  font-weight: 400;
  line-height: 24px;
}

.comments-block p {
  padding-top: 11px;

  text-shadow: 1px 1px 0 #fff;
  color: #787878;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  max-height: 170px;
  overflow: hidden;

}

/*-------------------------
    #SECTION-FOOTER
----------------------*/

footer {
  background: url("../img/bg-footer1.jpg") center no-repeat;
  /*height: 114px;*/
}

/*footer .wrap-center{*/
/*padding-top: 10px;*/
/*}*/
.navigate.nav-footer {
  float: none;
  display: inline-block;
}

.navigate--item__footer {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
  /*font-family: "League Gothic";*/
  font-size: 20px;
  margin-left: 43px;
  /*font-weight: 400;*/
}

.navigate--item__footer a {
  display: inline;
  padding: 0;
  line-height: 114px;
}

footer p {
  line-height: 120px;
  float: right;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: "Open Sans";
  font-size: 12px;
  /*line-height: 34px;*/
  font-weight: 300;
}

footer p b {
  font-weight: 700;
}

/*-------------------------
    #SECTION-MEDIA
----------------------*/

@media screen and (max-width: 768px) {
  header {
    height: 797px;
  }

  .wrapper960 {
    padding: 0 20px;
  }

  .header-top {
    height: 176px;
  }

  .logo {
    float: none;
    margin-bottom: 20px;
  }

  .navigate {
    float: none;
  }

  .navigate ul {
    text-align: justify;
    width: 89%;
  }

  .navigate ul:after {
    content: "";
    display: inline-block;
    text-align: justify;
    width: 100%;
    height: 0;
  }

  .navigate--item {
    margin-left: 0;
  }

  .navigate--item a {
    padding: 8px 0 2px;
  }

  .wrapper-slider-960 {
    padding: 0 20px;
  }

  .iphone {
    right: 3.8%;
    top: -5.4%;
  }

  .iphone-blur {
    margin: 56px 0 0 -50px;
  }

  .slider-txt-wrap {
    margin-top: 14.0%;
    padding-left: 3.6%;
  }

  .slider--title-bg {
    font-size: 47px;
    margin-bottom: 2px;
  }

  .slider--title-sm {
    font-size: 24px;
  }

  .slider--txt {
    line-height: 26px;
    font-size: 16px;
    height: 100px;
    overflow: hidden;
    max-width: 300px;
  }

  .slider--control {
    padding: 36px 128px 0 0;
  }

  .about-company {
    padding-top: 11%;
  }

  .about-company--item {
    padding-left: 8.77%;
    width: 28.5%;
  }

  .about-company--item h2 {
    font-size: 24px;
  }

  .about-company--item p {
    max-height: 150px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
    overflow: hidden;
  }

  .slider-mini h2 {
    font-size: 24px;
    line-height: 20px;
  }

  .slider-mini b {
    display: block;
  }

  .slider-mini p {
    max-height: 150px;
    margin-top: 13px;
    overflow: hidden;
  }

  .slider--control__mini {
    padding: 8% 0 0;
  }

  .post-list {
    padding: 4% 0 0 4%;
  }

  .post-list h2 {
    margin: 4px 0 0 12px;
  }

  .post-list--item {
    padding: 5% 0 0 24%;
    font-size: 15px;
    line-height: 17px;
  }

  .post-list--item i {
    left: 13px;
  }

  .post-list--link {
    padding: 16px 0 0 0;
  }

  .provider-logo ul {
    padding: 0;
  }

  .comments-block {
    width: 25.1666%;
  }

  .comments-block h3 {
    font-size: 24px;
  }

  .comments-block p {
    max-height: 170px;
  }

  footer {
    height: 200px;
  }

  .navigate.nav-footer {
    display: block;
  }

  .navigate.nav-footer ul {
    width: 75%;
  }

  footer p {
    line-height: 0;
  }

  .navigate--item__footer a {
    line-height: 110px;
  }
}

/*SCREEN 640*/

@media screen and (max-width: 640px) {

  .navigate ul {
    width: 100%;
  }

  .slider--control {
    padding: 35px 0;
    text-align: center;
  }

  .about {
    height: 600px;
  }

  .about-company--item {
    display: block;
    width: 100%;
    margin: 30px 0;
  }

  .posts {
    height: 790px;
  }

  .wrapper-posts {
    padding: 70px 0 0 0;
  }

  .slider-wrap {
    display: block;
    width: 95%;
  }

  .post-list {
    display: block;
    width: 100%;
  }

  .post-list--item {
    padding: 5% 0 0 15%;
  }

  .provider-logo {
    height: auto;
  }

  .provider-logo ul {
    height: auto;
  }

  .provider-logo--item {
    width: 33.3333%;
    /*height: 115px;*/
    padding: 30px 0;
  }

  .comments {
    height: 670px;
  }

  .wrapper-coments-center {
    padding-top: 80px;
  }

  .comments-block {
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }

  .navigate.nav-footer ul {
    width: 100%;
  }

  footer p {
    float: none;
    text-align: center;
  }
}

/*SCREEN 480*/

@media screen and (max-width: 480px) {
  .logo {
    text-align: center;
    margin-bottom: 17px;
  }
  header {
    height: 548px;
  }
  .header-top {
    height: 136px;
  }
  .navigate-top ul{
    /*position: absolute;*/
    position: relative;
    height: 41px;
    overflow: hidden;
    width: 247px;
    margin: 0 auto;
    text-align: center;
    z-index: 20;
    border-radius: 10px;
  }
  .navigate-top ul:hover{
    height: 258px;
    opacity: 0.8;
    background-color: #36293e;
    border: 1px solid #051116;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  .navigate-top .navigate--item{
    display: block;
    border-bottom:1px solid #36283e;
    border-top: 1px solid #523e5a;
    height: 41px;
  }
  .navigate-top .navigate--item:first-child {
    border-top:transparent;
    position: relative;
   }
  .navigate-top .navigate--item:first-child:after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 102px;
    width: 45px;
    border-bottom: 2px solid #edbfff;
   }

  .navigate-top .navigate--item:hover{
    background: #29212f;
  }
  .navigate-top .navigate--item:hover a{
    background: #29212f;
    padding: 9px 0 7px;
  }
  .navigate-top .navigate--item a{
  }
  /*.navigate--item:hover{*/
    /*opacity: 0.3;*/
  /*}*/
  .slider {
    height: 245px;
     }
  .slider-txt-wrap {
    margin-top: 22.3%;
    padding-left: 2.6%;
  }

  .slider--title-bg {
    font-size: 36px;
    margin-bottom: 0;

  }
  .slider--title-sm {
    font-size: 18px;
    max-width: 225px;
    line-height: normal;
  }

  .slider--txt {
    display: none;
  }
  .slider--img {
     margin: 0;
  }
  .iphone {
    right: 4.8%;
    top: -4%;
    width: 138px;
  }
  .iphone-blur {
    margin:  44px 0 0px -17px;
    width: 90px;
  }
  .slider--control {
    padding: 24px 0;
  }
  .about {
    height: 598px;
  }
  .about-company {
    padding-top: 12%;
  }

  .about-company--item {
    padding-left: 13%;
    margin: 24px 0;
  }

}.about-company--item-ico {;
   left: 5px;
   top: 5px;
 }
.posts {
  height: 787px;
}
.slider-wrap {
  width: 98%;
  margin-left: 17px;

}
.slider-mini {
  padding: 32px 24px 30px 38px;
}
.slider-mini h2 {
  font-size: 30px;
  line-height: 20px;

}
.slider-mini b {
     display: inline;
 }
.slider-mini p {
  max-height: 171px;
  margin-top: 20px;
}
.post-list {
  padding: 4% 0 0 10%;
}
.post-list--item {
  padding: 5% 0 0 21%;
}

.post-list--link {
  padding: 11px 32px 0 0;
}

.provider-logo ul {
  padding: 25px;
}

.provider-logo--item {
  padding: 12px 0;
}
.comments {
  height: 667px;
}
.wrapper-coments-center {
  padding-top: 50px;
}
.comments-block p {
  max-height: 100px;
}

/*SCREEN 480*/

@media screen and (max-width: 320px) {
  header {
    height: 516px;
  }
  .logo {
    margin-bottom: 24px;
  }
  .slider {
    background: transparent;
    text-align: center;
    height: 205px;
  }
  .slider-txt-wrap{
    width: 100%;
    margin: 94px 0 0 0;
    padding: 0;
  }
  .slider--title-sm{
    max-width: 100%;

  }

  .slider--img {
    display: none;
  }
  .about-company {
    padding-top: 70px;
  }

  .about-company--item {
    padding-left: 22%;
    margin: 0 0 27px 0;
  }
  .about-company--item p {
    max-height: 70px;
  }
  .about-company--item-more {
    padding: 21px 6px 0 0;
  }
  .slider-wrap {
    width: 97%;
    margin-left: 25px;
  }

  .slider-mini {
    padding: 25px 55px 30px 34px;
  }

  .slider-mini p {
    max-height: 165px;
    margin-top: 4px;
  }




  .provider-logo--item {
    padding: 30px 0;
    width: 50%;
  }

  .provider-logo ul {
    padding: 20px;
  }

}